:host {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .radio-group{
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e3e3;

    .radio-button {
      padding-right: 50px;
    }

    .incorrect {
      color: white;
      background-color: red;
    }

    .correct {
      color: white;
      background-color: green;
    }
  }
}
